<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">Catering</mat-toolbar>

<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose food</ng-template>
      <div class="food-container">
        <div *ngFor="let dish of dishes">
          <div class="food-card">
            <div>
              <img class="food-img" mat-card-image src="{{ dish.imageUrl }}">
            </div>
            <div class="food-details">
              <p>
                <span>Name: </span><span>{{ dish.name }}</span>
              </p>
              <p>
                <span>Price: </span><span>{{ dish.price }}</span><span> RON</span>
              </p>
              <p>
                <span>Servings: </span><span>{{ dish.portions }}</span>
              </p>
              <span>Choose quantity: </span>
              <input matInput type="number" value="0" class="quantity-input" #quantity (change)="onQuantityChanged(dish, quantity.value)">
            </div>
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button color="accent" button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose details</ng-template>
      <mat-form-field class="form-field">
        <input matInput placeholder="Address" formControlName="addressCtrl" required>
      </mat-form-field>
      <mat-form-field class="form-field datepicker">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field datepicker">
        <input type="time" matInput placeholder="Time" value="10:00" formControlName="timeCtrl" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirm order</ng-template>
    <p>You are now done.<p>
    <p>Total amount: {{ totalAmount }}<span> RON</span></p>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      <button mat-raised-button color="accent" (click)="sendOrder()">Send order</button>
    </div>
    <p class="success-msg" *ngIf="success">You successfully placed your order.</p>
  </mat-step>
</mat-vertical-stepper>

<div class="books-container">
  <div *ngFor="let dish of dishes">
    <div class="book-card">
      <div>
        <img class="book-img" mat-card-image src="{{ dish.imageUrl }}">
      </div>
      <div class="book-details">
        <p>
          <span>Title: </span><span>{{ dish.name }}</span>
        </p>
        <p>
          <span>Author: </span><span>{{ dish.name }}</span>
        </p>
        <p>
          <span>Price: </span><span>{{ dish.price }}</span><span> RON</span>
        </p>
        <span>Choose quantity: </span>
        <input matInput type="number" value="0" class="quantity-input" #quantity (change)="onQuantityChanged(dish, quantity.value)">
      </div>
    </div>
  </div>
</div>
